<%- include('header') -%>
<h5>this is about page</h5>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolorem beatae quisquam laboriosam nulla vitae praesentium veniam, deserunt eaque quae libero asperiores impedit hic possimus illo totam, dolores voluptates sit?
<%- include('footer') -%>